<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Welcome Email</title>
  </head>
  <body>
    <div
      style="
        border-radius: 15px;
        padding: 30px;
        max-width: 600px;
       margin: 20px auto;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      "
    >
      <img
        src="https://investcyptotoken.web.app/img/logo/logo.png"
        alt=""
        style="height: 40px; margin: 0 auto; text-align: center; display: block"
      />
      <h2>Welcome to Crypto Capital Invest</h2>
      <h3 style="font-size: 18px">Hello {{name}}!</h3>
      <p style="font-size: 16px">
        Great to have you join our community of leading crypto investment and
        trading professionals.
      </p>
      <p style="font-size: 16px">
        Crypto Capital Invest is a global leader in financial management
        business, We are not a Start up, we are a team with proven integrity and
        successful financial track records for over 4 years extending across the
        global financial markets. Today, the company offers services in more
        than 40 countries, providing some of the broadest, most sophisticated
        financial management. Crypto Capital Invest. continues its pioneering
        work of transforming thousandaires into millions, with advanced
        financial management skills and experts using intelligent digital and
        web solutions, including our flagship website. As we continue to seek
        more strategic ways to expand our offerings in financial management, we
        have taken steps to ensure that we have the processes, technology to
        deliver the highest level of service and support to our customers. In
        2019 we became officially incorporated, therefore we adhere to strict
        KYC and AML global compliance standards.
      </p>

      <p style="font-size: 16px">
        Let your crypto work for you. Pick any of
        <span>
          <a
            style="color: black"
            href="https://investcyptotoken.web.app/#plans"
          >Our amazing trading plans</a></span>
        that suits you best and get started investing
      </p>
      <a
        style="text-decoration: none; margin-top: 100px"
        href="https://investcyptotoken.web.app/#plans"
      >
        <div
          style="
            width: 20px;
            text-align: center;
            background-color: #2962ff;
            color: white;
            padding: 10px 0;
            border-radius: 10px;
            width: 100px;
            margin: 30px auto 0;
          "
        >
          Get started
        </div></a>
    </div>
  </body>
</html>